.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../bg/bg_main.png) center (center/cover) no-repeat;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header{
        font-size: 42px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subheader{
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__icons{
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        width: 425px;
        margin-bottom: 67px;
    }
    &__icon{
        font-size: 14px;
        text-align: center;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        img{
            padding-bottom: 20px;
            display: block;
            margin: 0 auto;
        }
    }
    &__link{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        a{
            text-decoration: underline;
            color: #ffffff;
        }
    }
}